
/*----------------------------------------------
	Game Specific
----------------------------------------------*/

/* wow factions */
.wow-faction-0, .wow-faction-0 a { color: #0078ff; } /* alliance */
.wow-faction-1, .wow-faction-1 a { color: #b30000; } /* horde */

/* wow expansions */
.wow-exp-0, .wow-exp-0 a { color: #fff468 !important; } /* classic */
.wow-exp-1, .wow-exp-1 a { color: #aad372 !important; } /* the burning crusade */
.wow-exp-2, .wow-exp-2 a { color: #68ccef !important; } /* wrath of the lich king */
.wow-exp-3, .wow-exp-3 a { color: #ff7c0a !important; } /* cataclysm */

/* wow classes */
.wow-class-1, .wow-class-1 a { color: #c69b6d !important; } /* warrior */
.wow-class-2, .wow-class-2 a { color: #f48cba !important; } /* paladin */
.wow-class-3, .wow-class-3 a { color: #aad372 !important; } /* hunter */
.wow-class-4, .wow-class-4 a { color: #fff468 !important; } /* rogue */
.wow-class-5, .wow-class-5 a { color: #f0ebe0 !important; } /* priest */
.wow-class-6, .wow-class-6 a { color: #c41e3b !important; } /* death knight */
.wow-class-7, .wow-class-7 a { color: #2359ff !important; } /* shaman */
.wow-class-8, .wow-class-8 a { color: #68ccef !important; } /* mage */
.wow-class-9, .wow-class-9 a { color: #9382c9 !important; } /* warlock */
.wow-class-10, .wow-class-10 a { color: #00ffba !important; } /* monk */
.wow-class-11, .wow-class-11 a { color: #ff7c0a !important; } /* druid */

/* wow item quality */
.wow-item-0, .wow-item-0 a { color: #9d9d9d !important; } /* poor (gray) */
.wow-item-1, .wow-item-1 a { color: #ffffff !important; } /* common (white) */
.wow-item-2, .wow-item-2 a { color: #1eff00 !important; } /* uncommon (green) */
.wow-item-3, .wow-item-3 a { color: #0081ff !important; } /* rare (blue) */
.wow-item-4, .wow-item-4 a { color: #c600ff !important; } /* epic (purple) */
.wow-item-5, .wow-item-5 a { color: #ff8000 !important; } /* legendary (orange) */
.wow-item-6, .wow-item-6 a { color: #e5cc80 !important; } /* artifact (gold) */
.wow-item-7, .wow-item-7 a { color: #e5cc80 !important; } /* heirloom (gold) */

/* sc2 races */
.sc2-race-0, .sc2-race-0 a { color: green !important; } /* random */
.sc2-race-1, .sc2-race-1 a { color: red !important; } /* terran */
.sc2-race-2, .sc2-race-2 a { color: blue !important; } /* protoss */
.sc2-race-3, .sc2-race-3 a { color: purple !important; } /* zerg */

/* sc2 factions */
.sc2-exp-0, .sc2-exp-0 a { color: blue !important; } /* wings of liberty */
.sc2-exp-1, .sc2-exp-1 a { color: purple !important; } /* heart of the swarm */
.sc2-exp-2, .sc2-exp-2 a { color: green !important; } /* legacy of the void */

/* d3 classes */
.d3-class-barbarian, .d3-class-barbarian a { color: #be2903 !important; }
.d3-class-demon-hunter, .d3-class-demon-hunter a { color: #80077b !important; }
.d3-class-monk, .d3-class-monk a { color: #c08f03 !important; }
.d3-class-witch-doctor, .d3-class-witch-doctor a { color: #08711e !important; }
.d3-class-wizard, .d3-class-wizard a { color: #0559ae !important; }

/* d3 colors */
.d3-color-blue, .d3-color-blue a { color: #6969ff !important; }
.d3-color-gray, .d3-color-gray a { color: #909090 !important; }
.d3-color-gold, .d3-color-gold a { color: #c7b377 !important; }
.d3-color-green, .d3-color-green a { color: #00ff00 !important; }
.d3-color-orange, .d3-color-orange a { color: #bf642f !important; }
.d3-color-purple, .d3-color-purple a { color: #a335ee !important; }
.d3-color-red, .d3-color-red a { color: #ff0000 !important; }
.d3-color-white, .d3-color-white a { color: white !important; }
.d3-color-yellow, .d3-color-yellow a { color: #ffff00 !important; }
