/* character card */
.character-card { position: absolute; bottom: 5px; right: 5px; color: #221103; }
.character-card,
.character-card a.clickarea { display: block; width: 337px; height: 90px; }
.character-card a.clickarea { background:url(../img/d3/login-full.jpg) no-repeat }
.character-card .avatar-frame { position: absolute; right: -4px; top: 0; }
.character-card .avatar-frame span { position: absolute; }
.character-card .avatar-frame,
.character-card .avatar-frame .border { display: block; width: 90px; height: 90px; }
.character-card .avatar-frame .avatar,
.character-card .avatar-frame .no-avatar { display: block; width: 70px; height: 70px; position: relative; left: 11px; top: 8px; border-radius: 25px; }
.character-card .avatar-frame .no-avatar { background: url("../img/d3/avatar-silhouette.jpg") no-repeat; }
.character-card .avatar-frame .border { background: url("../img/d3/avatar-border.png") no-repeat; left: 0; top: 0; }
.character-card .avatar-frame .icon { width: 28px; height: 28px; position: absolute; bottom: 5px; right: 5px; background: url("../img/d3/game-icons.png") no-repeat; }
.character-card .avatar-frame .icon-sc2 { background-position: 0 -28px; }
.character-card .avatar-frame .icon-wow { background-position: 0 -56px; }
.character-card .player-name { display: block; font-weight: bold; color: #000000; font-size: 13px; }
.character-card .player-name .empty { display: block; padding-top: 10px; }
.character-card .message { padding: 18px 90px 0 43px; }
.character-card .message .view-d3-profile,
.character-info .view-d3-profile { display:block; color:#613916; font-weight:bold; font-size:13px }
.character-info .view-d3-profile { color: #95856A; font-size: 11px; margin-top: 5px; }
.character-card .message .view-d3-profile:hover,
.character-info .view-d3-profile:hover,
.character-card .clickarea:hover .view-d3-profile { color: #FFFFFF; }
.character-card .clickarea:hover .character-name { color: #000000; }
.character-card .character .character-name { font-size: 18px; color: #8b1209; font-weight: bold; line-height: 100%; background-position: 100% -20px; }
.character-card .character .character-name:hover { background-position: 100% -82px; color: #000; }
.character-card .character .character-name.name-small { font-size: 16px; }
.character-card .character .ui-context { top: 60px; left: 40px; }
.character-card a.clickarea { font-size: 14px; }
.character-card a.clickarea strong { color: #790905; }
.character-card a.clickarea .inner { display: block; padding: 25px 95px 0 40px; color: #221103; font-weight: normal; }
.character-card a.clickarea:hover { background-position:0 -94px }
.character-card a.clickarea:hover strong { color: #221103; }
.opera .character-card .avatar-frame .border { background-image: url("../img/d3/avatar-border.gif"); }

/*----------------------------------------------
	D3-Related
----------------------------------------------*/

/* hardcore color */
.d3-color-hardcore { color:#e60101 !important }

/* subtler colors */
.colors-subtle .d3-color-green,
.colors-subtle .d3-color-green a { color: #8bd442 !important; }
.colors-subtle .d3-color-yellow,
.colors-subtle .d3-color-yellow a { color: #f8cc35 !important; }
.colors-subtle .d3-color-blue,
.colors-subtle .d3-color-blue a { color: #7979d4 !important; }
.colors-subtle .d3-color-red,
.colors-subtle .d3-color-red a { color: #E52817 !important; }
.colors-subtle a:hover { color: white !important;}

/* icons */
.icon-frame,
.icon-portrait { display: inline-block; overflow: hidden; background: 50% 50% no-repeat; font-size: 1px; }

.icon-frame,
.icon-portrait { box-shadow: 0 0 5px #000; }

/* reusable frame */
.icon-frame { background-color: black; padding: 1px; border-left: 1px solid #3a2912; border-right: 1px solid #59411c; border-bottom: 1px solid #463419; border-top: 1px solid #574320; border-radius: 2px; }
.icon-frame img { display: block; vertical-align: bottom; }
a:hover .icon-frame,
.hover .icon-frame { background-color: #222; border-color: #61461e; }
.icon-frame.hardcore-frame,
a:hover .icon-frame.hardcore-frame { border-color:#a20101 } /* hardcore frame */
.icon-frame-text { vertical-align: middle; margin-top: -2px; margin-left: 2px; margin-right: 2px; } /* correctly aligns the frame within a line of text */

/* custom */
.icon-custom { background: url("../img/d3/tools.png") no-repeat; width: 42px; height: 42px; }
.icon-custom-calculator { background-position: 1px 1px; }
.icon-custom-gear { background-position: -42px 1px; }
.icon-custom-tooltip { background-position: -85px 1px; }
.icon-custom-followers { background-position: -128px 1px; }
.icon-custom-anniversary { background-position: -171px 1px; }
.icon-custom-ce { background-position: -215px 1px; }
.icon-custom-status { background-position: -258px 1px }
.icon-custom-ah-faq { background-position: -303px 1px }
a:hover .icon-custom-calculator { background-position: 1px -42px; }
a:hover .icon-custom-gear { background-position: -42px -42px; }
a:hover .icon-custom-tooltip { background-position: -85px -42px; }
a:hover .icon-custom-anniversary { background-position: -171px -42px; }
a:hover .icon-custom-ce { background-position: -215px -42px; }
a:hover .icon-custom-status { background-position: -258px -42px }
a:hover .icon-custom-ah-faq { background-position: -303px -42px }