.profile-body { padding: 1px 0; background: url("../../images/profile/hero/bg-stats.jpg") 50% 0 no-repeat; }
.profile-lower { padding-top:1px; background: url("../../images/profile/hero/lower-bg.jpg") 50% 0 no-repeat; }

/* selector */
.profile-selector { padding: 7px 12px 0; }

/* hero tabs */
.hero-tabs { height:115px; overflow:hidden }
.hero-tabs li { width:97px; height:124px; float:left; display:block }
.hero-tabs .hero-tab { display:block; width:83px; height:117px; padding:7px 7px 0; background:url(../../images/profile/hero/hero-nav-frames.png) 0 -124px no-repeat }
.hero-tabs .hero-tab.loading:after { content:" "; display:block; width:83px; height:66px; background:rgba(0, 0, 0, .2) url(../../images/loaders/default.gif) 50% 50% no-repeat; position:relative; top:-67px; left:0 }
.hero-tabs .hero-tab.empty-hero { background-position: 2px -378px }
.ie6 .hero-tab { background-image:url(../../images/profile/hero/hero-nav-frames.gif) }
.hero-tabs a:hover { background-position: 0 -248px }
.hero-tabs a:hover .hero-portrait { opacity:0.8 }
.hero-tabs a.active,
.hero-tabs a.active:hover { background-position:0 0 }
.hero-tabs a.active .hero-portrait,
.hero-tabs a.hardcore-active .hero-portrait { opacity:1 }
.hero-tabs a.hardcore { background-position:-103px -124px }
.hero-tabs a.hardcore:hover { background-position:-103px -248px }
.hero-tabs a.hardcore-active,
.hero-tabs a.hardcore-active:hover { background-position:-103px 0 }
.hero-tabs .hero-portrait { display:block; width:83px; height:1px; padding-top:65px; overflow:hidden; background:url(../../images/profile/hero/hero-nav-portraits.jpg) no-repeat; opacity:0.4; }
.hero-tabs .barbarian-male .hero-portrait { background-position:0 0 }
.hero-tabs .barbarian-female .hero-portrait { background-position:-83px 0 }
.hero-tabs .demon-hunter-male .hero-portrait { background-position:0 -66px }
.hero-tabs .demon-hunter-female .hero-portrait { background-position:-83px -66px }
.hero-tabs .monk-male .hero-portrait { background-position:0 -132px }
.hero-tabs .monk-female .hero-portrait { background-position:-83px -132px }
.hero-tabs .witch-doctor-male .hero-portrait { background-position:0 -198px }
.hero-tabs .witch-doctor-female .hero-portrait { background-position:-83px -198px }
.hero-tabs .wizard-male .hero-portrait { background-position:0 -264px }
.hero-tabs .wizard-female .hero-portrait { background-position:-83px -264px }
.hero-tabs .level { display:block; padding-left:5px; width:16px; height:25px; line-height:25px; float:left; color:#a99877; font-size:12px; }
.hero-tabs .name { display:block; float:left; width:60px; height:25px; line-height:25px; font-size:12px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.hero-tabs .active .name,
.hero-tabs .hardcore-active .name { color:#F3E6D0; font-weight:bold }
.zh-tw .hero-tabs .active .name,
.zh-tw .hero-tabs .hardcore-active .name { font-weight:normal }
.hero-tabs .hardcore .level,
.hero-tabs .hardcore-active .level { color:#e60101 }
.hero-tabs a:hover .level,
.hero-tabs a.hardcore:hover .level { color: #FFF}


/* sheet */
.profile-sheet { height: 645px; position: relative; text-shadow: 1px 1px 0 #000; background-position: 50% 0; background-repeat: no-repeat; }
.profile-sheet .name,
.profile-sheet .class { width: 700px; position: absolute; top: 69px; right: 15px; text-align: center; line-height: 100%; text-shadow:none }
.zh-tw.ie9 .profile-sheet .name,
.zh-tw.ie7 .profile-sheet .name { top:74px }
.profile-sheet .name { font-size:48px; color:#FFEAD4; text-transform:uppercase; line-height:47px; top: 68px;}
.profile-sheet .name:first-letter { font-size:66px; vertical-align:bottom; line-height:48px; }
.ie67 .profile-sheet .name:first-letter,
.zh-tw .profile-sheet .name:first-letter,
.ko-kr .profile-sheet .name:first-letter { font-size:48px; vertical-align:baseline }
.profile-sheet .class { top: 39px;  }
.profile-sheet .class a { font-size: 14px; color:#d4b473; font-family:"Palatino Linotype","Times",serif; text-transform:none }
.profile-sheet .class a strong { font-family: Arial, sans-serif; }
.profile-sheet .class a strong.d3-color-hardcore { font-family:"Palatino Linotype","Times",serif; }
.profile-sheet .class a:hover { color: #fff }
.profile-sheet .paragon-level { font-weight:normal; color:#a791c2; letter-spacing:-0.1em; padding-left:3px; }
.profile-sheet .dps { position: absolute; top: 30px; right: 30px; }
.profile-sheet .life { position: absolute; top: 30px; left: 295px; }
.profile-sheet .dps .term,
.profile-sheet .life .term { font-size: 13px; font-weight: normal; vertical-align: middle; text-transform: uppercase; position: relative; top: -5px; color: #ac9374; }
.profile-sheet .dps .value,
.profile-sheet .life .value { font-size: 32px; font-weight: bold; color: #ac9374; }

.profile-sheet .gear-bonuses { width: 225px; position: absolute; left: 30px; top: 386px; }
.profile-sheet .gear-bonuses .tip { border:0 }
.profile-sheet .gear-bonuses p { margin:0; padding-top:0px; line-height:15px;}
.profile-sheet .gear-bonuses .help-icon {display:block; float:left; margin-right:3px; width: 25px; height: 25px; vertical-align: middle; background: url(../../images/profile/hero/help-icon.png) 0 0 no-repeat; font-size: 1px; position:relative; left:-2px;}
.ie6 .profile-sheet .gear-bonuses .help-icon {background: url(../../images/profile/hero/help-icon.gif) 0 0 no-repeat;}
.profile-sheet .gear-bonuses .category { width:290px; color:#ffe8ce; background:url(../../images/profile/hero/gear-bonus-divider.png) 0 100% no-repeat; padding-bottom:5px }
.ie6 .profile-sheet .gear-bonuses .category { background:none }
.profile-sheet .gear-bonuses ul { margin: 15px 0; padding-left:8px }
.profile-sheet .gear-bonuses li { padding:0; /*min-height:24px;*/ margin-top:11px; }
.profile-sheet .gear-bonuses li a { font-size: 12px; /*opacity: .75;*/ display:block; color:#a99fff; padding-left:20px }
.profile-sheet .gear-bonuses li a:hover, .profile-sheet .gear-bonuses li a:hover .value { color:#FFF }
.profile-sheet .gear-bonuses li a .value { color:#d0ccff; }
.profile-sheet .gear-bonuses li:first-child { margin-top:0; margin-bottom:-1px; }
.profile-sheet .gear-bonuses li:first-child a { font-size: 16px; opacity: 1; }
.profile-sheet .gear-bonuses li:first-child p { padding-top:0; line-height:20px; }
.profile-sheet .gear-bonuses .view-more { font-style: italic; color: #948474; padding-left:30px }
.profile-sheet .gear-bonuses .view-more:hover { color: #7B6D55; }
.profile-sheet .gear-bonuses .bonus-radio { display:block; float:left; width:23px; height:23px; background:url(../../images/profile/hero/gear-bonus-radio.png) no-repeat -24px 0; margin-left:-29px; position:relative; top:-2px; }
.profile-sheet .gear-bonuses li:first-child .bonus-radio {top:1px;}
.ie6 .profile-sheet .gear-bonuses .bonus-radio { background-image:url(../../images/profile/hero/gear-bonus-radio.gif) }
.profile-sheet .gear-bonuses .bonus-radio.active { background-position: 0 0 }

.profile-sheet .character li { margin-bottom: 10px; border-radius: 3px; padding: 3px 3px 2px 3px; text-shadow: 1px 1px 0 #000; }
.profile-sheet .character li b { color: #F3E6D0; display: inline-block; width: 25%; text-align: right; margin-right: 2px; }
.profile-sheet .character li.life { background: rgba(116, 29, 0, .4); border-top:  1px solid #831f08; }

.profile-sheet .d3-color-yellow { color: #ffff00 !important; }
.profile-sheet .d3-color-orange { color: #fba412 !important; }
.profile-sheet .d3-color-blue { color: #a0c3ff !important; }
.profile-sheet .d3-color-green { color: #a4df44 !important; }
.profile-sheet .d3-color-gray { color: #c1c1c1 !important; }

/* paper doll */
.paperdoll { width: 725px; min-height: 490px; right: 4px; top: 155px; position: absolute; }
.paperdoll .weapon-flourish { width:128px; height:166px; background-repeat:no-repeat; position:absolute; }
.paperdoll .weapon-flourish.main-hand-flourish { top:258px; left:200px }
.paperdoll .weapon-flourish.off-hand-flourish { top:258px; left:416px }
.paperdoll .weapon-flourish.elemental-arcane { background-image:url(../../images/profile/hero/weapon-elements/arcane.png) }
.paperdoll .weapon-flourish.elemental-cold { background-image:url(../../images/profile/hero/weapon-elements/cold.png) }
.paperdoll .weapon-flourish.elemental-lightning { background-image:url(../../images/profile/hero/weapon-elements/lightning.png) }
.paperdoll .weapon-flourish.elemental-fire { background-image:url(../../images/profile/hero/weapon-elements/fire.png) }
.paperdoll .weapon-flourish.elemental-poison { background-image:url(../../images/profile/hero/weapon-elements/poison.png) }
.paperdoll .weapon-flourish.elemental-holy { background-image:url(../../images/profile/hero/weapon-elements/holy.png) }
.ie6 .paperdoll .weapon-flourish { display:none }

.paperdoll .gear-slots { margin: 0 0 0 209px; position: relative; z-index: 3; }
.paperdoll .gear-slots .d3-icon-item { box-shadow: 0 0 9px rgba(0,0,0,0.09), 0 2px 5px rgba(0,0,0,0.5); }
.followers .d3-icon-item, .followers .icon-item-gradient, .followers .icon-item-inner { border-radius:3px; }
.paperdoll .gear-slots .item-dye { display:block; position:absolute; left:-5px; bottom:-1px; width:21px; height:21px; background:url(../../images/profile/hero/bg-dye.png) 0 -1px no-repeat; }
.paperdoll .gear-slots .item-dye img { width:19px; height:19px; }
.paperdoll .gear-slots .empty-icon { cursor:help; box-shadow:none; border:none; padding:1px }
.paperdoll .gear-slots .empty-icon .icon-item-inner { box-shadow:none; border:0; padding:1px }

.paperdoll .gear-labels { width: 726px; min-height: 490px; position: absolute; top: 0; left: 0; z-index: 2; }
.paperdoll .gear-labels .gear-label { position: absolute; width: 186px; font-size: 11px; }
.paperdoll .gear-labels .gear-label .label-link { display: block; }
.paperdoll .gear-labels .gear-label .item-name { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; width:186px; display:block; }
.paperdoll .gear-labels .bonus-value,
.paperdoll .gear-labels .weapon-dps { display:block; color:#c4b9a7; font-size:14px; text-shadow:1px 1px 0 #000; position:relative;}
.paperdoll .gear-labels .weapon-dps { color:#c6aa75; font-size:11px; margin-bottom:-4px; top:-2px;}
.paperdoll .gear-labels .weapon-dps .value { font-size:16px; }
.paperdoll .gear-labels .bonus-value.long-bonus { font-size:11px; line-height:12px; top:2px;}
.paperdoll .gear-labels .bonus-value p { margin:0; }
.paperdoll .gear-labels .bonus-value p .value { font-size:14px; color:#d7cbb7; }
.paperdoll .gear-labels .slot-head,
.paperdoll .gear-labels .slot-neck,
.paperdoll .gear-labels .slot-bracers,
.paperdoll .gear-labels .slot-waist,
.paperdoll .gear-labels .slot-feet,
.paperdoll .gear-labels .slot-rightFinger,
.paperdoll .gear-labels .slot-offHand { right: 0; }
.paperdoll .gear-labels .slot-shoulders,
.paperdoll .gear-labels .slot-torso,
.paperdoll .gear-labels .slot-hands,
.paperdoll .gear-labels .slot-legs,
.paperdoll .gear-labels .slot-leftFinger,
.paperdoll .gear-labels .slot-mainHand { text-align: right; left: 0; }
.paperdoll .gear-labels .slot-head { top: 6px; }
.paperdoll .gear-labels .slot-neck { top: 75px; }
.paperdoll .gear-labels .slot-bracers { top: 144px; }
.paperdoll .gear-labels .slot-waist { top: 213px; }
.paperdoll .gear-labels .slot-rightFinger { top: 274px; }
.paperdoll .gear-labels .slot-offHand { top: 340px; }
.paperdoll .gear-labels .slot-feet { top: 423px; }
.paperdoll .gear-labels .slot-shoulders { top: 30px; }
.paperdoll .gear-labels .slot-torso { top: 99px; }
.paperdoll .gear-labels .slot-hands { top: 168px; }
.paperdoll .gear-labels .slot-leftFinger { top: 237px; }
.paperdoll .gear-labels .slot-legs { top: 301px; }
.paperdoll .gear-labels .slot-mainHand { top: 376px; }
.paperdoll .gear-labels .item-effects { margin-top:0; font-size:11px }
.paperdoll .gear-labels .item-effects li { white-space:nowrap }
.paperdoll .gear-labels .item-effects li.full-socket { padding-top:0 }
.paperdoll .gear-labels .item-effects li .gem { float:none; display:inline-block; margin-bottom:-4px }
.paperdoll .gear-labels .item-effects li .socket-effect { background:none; padding-left:0; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; max-width:150px }

.paperdoll .d3-icon-item-gray { border-color: #56402c; }
.paperdoll .d3-icon-item-white { border-color: #56402c; }
.paperdoll .d3-icon-item-blue { border-color: #6ba9ba; }
.paperdoll .d3-icon-item-yellow { border-color: #b1a73c; }
.paperdoll .d3-icon-item-orange { border-color: #c29337; }
.paperdoll .d3-icon-item-green { border-color: #87a73d; }

.paperdoll .gear-lines { width: 332px; height: 418px; position: absolute; top: 14px; left: 197px; z-index: 1; }
.paperdoll .gear-lines li { position: absolute; background: url("../../images/profile/hero/inventory-lines.png"); }
.ie6 .paperdoll .gear-lines li { background-image: url("../../images/profile/hero/inventory-lines.gif") }
.paperdoll .gear-lines .slot-head { width: 134px; height: 1px; top: 0; right: 0; background-position: 100% 0; }
.paperdoll .gear-lines .slot-waist { width: 124px; height: 12px; top: 196px; right: 0; background-position: 100% -196px; }
.paperdoll .gear-lines .slot-torso { width: 125px; height: 24px; top: 84px; left: 0; background-position: 0 -84px; }
.paperdoll .gear-lines .slot-shoulders { width: 51px; height: 1px; top: 24px; left: 0; background-position: 0 -24px; }
.paperdoll .gear-lines .slot-neck { width: 59px; height: 1px; top: 69px; right: 0; background-position: 100% -69px; }
.paperdoll .gear-lines .slot-leftFinger { width: 37px; height: 1px; top: 231px; left: 0; background-position: 0 -231px; }
.paperdoll .gear-lines .slot-rightFinger { width: 37px; height: 28px; top: 241px; right: 0; background-position: 100% -241px; }
.paperdoll .gear-lines .slot-hands { width: 25px; height: 1px; top: 162px; left: 0; background-position: 0 -162px; }
.paperdoll .gear-lines .slot-bracers { width: 25px; height: 1px; top: 138px; right: 0; background-position: 100% -138px; }
.paperdoll .gear-lines .slot-legs { width: 133px; height: 35px; top: 261px; left: 0; background-position: 0 -261px; }
.paperdoll .gear-lines .slot-feet { width: 166px; height: 21px; bottom: 0; right: 0; background-position: 100% 100%; }
.paperdoll .gear-lines .slot-mainHand { width: 25px; height: 1px; top: 370px; left: 0; background-position: 0 -370px; }
.paperdoll .gear-lines .slot-offHand { width: 25px; height: 1px; top: 334px; right: 0; background-position: 100% -334px; }

/* basic stats */
.profile-overview { padding: 23px 26px; margin: 35px 42px 50px; /*background-color: rgba(0, 0, 0, 0.15);*/ }
.profile-overview .page-section { margin:  0; background:none }
.profile-overview .page-section .section-header { padding:0 }
.profile-overview .page-section .section-body { padding: 0 }
.profile-overview .page-section .category { border-bottom:2px solid #312a1e; padding-bottom:7px }

.profile-overview .attributes { float: left; width: 234px; margin-right:78px; font-size:12px }
.profile-overview .attributes .tip { border:0 }
.profile-overview .attributes .attributes-core { border-bottom:1px solid #272218; padding:7px 0 8px; cursor:default }
.profile-overview .attributes .attributes-core.secondary { padding:12px 0 12px }
.ie6 .profile-overview .attributes .attributes-core { zoom:1 }
.profile-overview .attributes .attributes-core span { display:block; float:left; height:26px; line-height:26px }
.profile-overview .attributes .attributes-core .label { width:180px; color:#a99877 }
.profile-overview .attributes .attributes-core .value { width:54px; color:#f3e6d0; text-align:right }
.profile-overview .attributes .resources { height:50px; padding-top:14px; font-size:11px }
.profile-overview .attributes .resources .resource { display:block; height:50px; float:right }
.profile-overview .attributes .resources .label-wrapper { display:table-cell; height:50px; vertical-align:middle }
.profile-overview .attributes .resources .label { width:62px; float:left; padding-left:5px; color:#a99877; font-size:11px; text-transform:uppercase; line-height:14px; }
.profile-overview .attributes .resources .value { width:50px; float:left; text-shadow:1px 1px 2px #000; text-align:center; color:#f3e6d0; line-height:14px }
.profile-overview .attributes .resources .resource-icon { display:table-cell; width:50px; height:50px; vertical-align:middle; background:url(../../images/profile/hero/resources.png) }
.ie6 .profile-overview .attributes .resources .resource-icon { background-image:url(../../images/profile/hero/resources.gif) }
.profile-overview .attributes .resources .resource-icon.resource-fury { background-position:-50px 0 }
.profile-overview .attributes .resources .resource-icon.resource-mana { background-position:0 -50px }
.profile-overview .attributes .resources .resource-icon.resource-spirit { background-position:-50px -50px }
.profile-overview .attributes .resources .resource-icon.resource-arcanum { background-position:-100px -50px }
.profile-overview .attributes .resources .resource-icon.resource-hatred-discipline { background-position:-100px -100px }

.profile-overview .skills { float: right; width: 546px; position: relative; }
.profile-overview .skills .tip { border:0 }
.profile-overview .skills .d3-icon-skill,
.profile-overview .skills .d3-icon-trait { vertical-align: middle; margin-right: 3px; }
.profile-overview .skills .d3-icon-skill { box-shadow: 0 0 5px rgba(0,0,0,0.5); }
.profile-overview .skills .skill-name { display: inline-block; vertical-align: middle; color: #f3e6d0; margin-top:-2px; margin-left:5px }
.profile-overview .skills .skill-name .rune-name { display: block; color: #796d55; font-size:11px; margin-top:-1px }
.profile-overview .skills a:hover .skill-name { color: #fff; }
.profile-overview .skills a { display: block; font-size: 12px; }
.profile-overview .skills a.profile-link { font-size:11px; }
.profile-lower .section-body a.profile-link .icon-frame-text {margin-right:0px;}

.profile-overview .skills .passive-skills { padding:0 0 0 10px }
.profile-overview .skills .passive-skills li { float:left; width:33% }
.profile-overview .skills .passive-skills a { height:41px;  }
.profile-overview .skills .passive-skills .skill-name { width:110px; margin-top:-1px; line-height:16px; }
.profile-overview .skills .passive-skills .passive-icon { background:url(../../images/profile/hero/passive-skills.png) 0 -41px no-repeat; display:inline-block; width:31px; height:31px; padding:5px; vertical-align:middle }
.profile-overview .skills .passive-skills a:hover .passive-icon { background-position:-41px -41px }
.profile-overview .skills .passive-skills .empty-passive,
.profile-overview .skills .passive-skills a:hover .empty-passive { display:block; background-position: -82px -41px }
.profile-overview .skills .passive-skills .frame { }
.profile-overview .skills .passive-skills .locked-passive-10 { background-position:0 0 }
.profile-overview .skills .passive-skills .locked-passive-20 { background-position:-41px 0 }
.profile-overview .skills .passive-skills .locked-passive-30 { background-position:-82px 0 }

.profile-overview .skills .active-skills { height:163px; padding:16px 0 17px; border-bottom:1px solid #252018; margin-bottom:17px }
.profile-overview .skills .active-skills li { float: left; width:247px; padding:2px 0 0 12px; margin: 0 0 10px 0; position: relative; }
.profile-overview .skills .active-skills .empty-skill { width:42px; height:42px; display:block; display:inline-block; background:url(../../images/profile/hero/skill-overlays.png) -47px 0 }
.ie6 .profile-overview .skills .active-skills .empty-skill { background-image: url("../../images/profile/hero/skill-overlays.gif") }
.profile-overview .skills .active-skills .empty-skill.unlocked { background-position:-131px -42px }
.profile-overview .skills .active-skills .empty-skill.locked-2 { background-position:-47px 0 }
.profile-overview .skills .active-skills .empty-skill.locked-4 { background-position:-89px 0 }
.profile-overview .skills .active-skills .empty-skill.locked-9 { background-position:-131px 0 }
.profile-overview .skills .active-skills .empty-skill.locked-14 { background-position:-47px -42px }
.profile-overview .skills .active-skills .empty-skill.locked-19 { background-position:-89px -42px }
.profile-overview .skills .active-skills .slot { display:block; width:22px; height:22px; background: url("../../images/profile/hero/skill-overlays.png") 0 0; position: absolute; top:-1px; left:-1px; }
.ie6 .profile-overview .skills .active-skills .slot { background-image: url("../../images/profile/hero/skill-overlays.gif") }
.profile-overview .skills .active-skills .slot.slot-primary { background-position:0 -1px }
.profile-overview .skills .active-skills .slot.slot-secondary { background-position: -21px -1px }
.profile-overview .skills .active-skills .slot.slot-1 { background-position:0 -23px; }
.profile-overview .skills .active-skills .slot.slot-2 { background-position:-23px -23px }
.profile-overview .skills .active-skills .slot.slot-3 { background-position:0 -46px }
.profile-overview .skills .active-skills .slot.slot-4 { background-position:-23px -46px }

/* detailed stats */
.profile-stats { margin: 30px; }
.profile-stats .stats-left { float: left; width: 218px; }
.profile-stats .stats-right { float: left; width: 695px; margin-left: 20px; }

.profile-stats .category { margin-bottom: 20px; }
.profile-stats .stats-column { float: left; width: 218px; margin-left: 20px; }
.profile-stats .stats-column:first-child { margin-left: 0; }
.profile-stats .stats-list { margin-bottom: 20px; color: #5f584d; }
.profile-stats .stats-list li { margin: 10px 0; }
.profile-stats .stats-list .stat { color: #fff; font-size: 16px; vertical-align: middle; margin-right: 5px; }
.profile-stats .stats-menu a { display: block; padding: 10px; background: #161513; border: 1px solid #1e1b17; border-top-color: #24231e; border-bottom-color: #070706; }
.profile-stats .stats-menu a .icon-frame { vertical-align: middle; margin-right: 5px; }
.profile-stats .stats-menu a .name { display: inline-block; vertical-align: middle; width: 140px; }
.profile-stats .stats-menu a.menu-active { background: #0c0b0a; border-color: #1d1916; border-bottom-color: #070706; }
.profile-stats .stats-menu a.menu-active .name { color: #fff; font-weight: bold; }

.stats-toggle { display: block; height: 50px; margin: 0 30px; line-height: 50px; text-align: center; outline: none; background: url("../../images/profile/hero/bg-stats-toggle.png") 50% 0 no-repeat; }
.stats-toggle.opened { background: url("../../images/profile/hero/bg-stats-toggle-on.png"); }

/* followers */
.profile-followers { margin: 30px; position: relative; overflow:hidden }
.ie6 .profile-followers .section-body { overflow:hidden; width:914px }
.profile-followers .follower-wrapper { display:block; float:left; width:250px; height:350px; padding:0 18px; background:#19160d url(../../images/profile/hero/followers.jpg) no-repeat; margin-right:26px }
.ie6 .profile-followers .follower-wrapper { margin-right:16px }
.profile-followers .follower-wrapper.follower-templar { background-position:0 0 }
.profile-followers .follower-wrapper.follower-scoundrel { background-position:-286px 0 }
.profile-followers .follower-wrapper.follower-enchantress { background-position:-572px 0; margin-right:0 }
.profile-followers .follower-wrapper .follower-header {height:76px; display:block;}
.profile-followers .follower-wrapper .category { font-weight:bold; font-size:24px; color:#ead8b9; text-transform:none; text-shadow:1px 1px 2px #000; padding-top:25px; letter-spacing:-0.05em }
.profile-followers .follower-wrapper.locked .category { color:#4e4536 }

.profile-followers .follower-wrapper .level { display:block; font-size:11px; text-transform:uppercase; text-shadow:1px 1px 2px #000; color: #A99877; }
.profile-followers .follower-wrapper a:hover .level { color: #fff; }

.profile-followers .follower-wrapper .items { width:142px; height:186px; position:relative; float:right; }
.profile-followers .follower-wrapper .items .slot { position:absolute; display:block; }
.profile-followers .follower-wrapper .items span.slot { cursor: help; }
.profile-followers .follower-wrapper .items .slot.empty-offhand { background:url("../../images/profile/hero/disabled-offhand-followers.gif") 0 0 no-repeat; }
.ie67 .profile-followers .follower-wrapper .items .slot.empty-offhand,
.ie8  .profile-followers .follower-wrapper .items .slot.empty-offhand { background:none }
.ie8  .profile-followers .follower-wrapper .items .slot.empty-offhand .icon-item-default,
.ie67 .profile-followers .follower-wrapper .items .slot.empty-offhand .icon-item-default { display:none }
.profile-followers .follower-wrapper .items .slot.empty-offhand .icon-item-default { display:block; opacity:0.3 }

.profile-followers .follower-wrapper .items .slot.empty-offhand .icon-item-inner { width:48px; height:96px; margin:1px; }

.profile-followers .follower-wrapper .items .slot-special,
.profile-followers .follower-wrapper .items .slot-neck { top:37px; width:42px; height:42px; }
.profile-followers .follower-wrapper .items .slot-special .sockets-align,
.profile-followers .follower-wrapper .items .slot-neck .sockets-align { width:42px; height:42px; }

.profile-followers .follower-wrapper .items .slot-special { left:34px }
.profile-followers .follower-wrapper .items .slot-special .slot-special-border {width:48px; height:48px; background:url("../../images/profile/hero/border-followerspecial.gif") 0 0 no-repeat; position:absolute; top:-3px; left:-3px;}
.profile-followers .follower-wrapper .items .slot-neck { left:82px }
.profile-followers .follower-wrapper .items .slot-special .icon-item-inner,
.profile-followers .follower-wrapper .items .slot-neck .icon-item-inner { width:38px; height:38px }

.profile-followers .follower-wrapper .items .slot-mainHand,
.profile-followers .follower-wrapper .items .slot-offHand { top:86px; height:98px; width:50px }
.profile-followers .follower-wrapper .items .slot-offHand .sockets-align,
.profile-followers .follower-wrapper .items .slot-mainHand .sockets-align {  height:98px; width:50px }
.profile-followers .follower-wrapper .items .slot-mainHand { left:-1px }
.profile-followers .follower-wrapper .items .slot-offHand { left:54px }
.profile-followers .follower-wrapper .items .slot-mainHand .icon-item-inner,
.profile-followers .follower-wrapper .items .slot-offHand .icon-item-inner { height:94px; width:46px; background-size:100% }

.profile-followers .follower-wrapper .items .slot-rightFinger,
.profile-followers .follower-wrapper .items .slot-leftFinger { left:109px; width:32px; height:32px }
.profile-followers .follower-wrapper .items .slot-rightFinger .sockets-align,
.profile-followers .follower-wrapper .items .slot-leftFinger .sockets-align {  width:31px; height:32px }

.profile-followers .follower-wrapper .items .slot-rightFinger { top:86px }
.profile-followers .follower-wrapper .items .slot-leftFinger { top:124px }
.profile-followers .follower-wrapper .items .slot-rightFinger .icon-item-inner,
.profile-followers .follower-wrapper .items .slot-leftFinger .icon-item-inner { width:28px; height:28px }

.profile-followers .follower-wrapper .items li { text-align:center }
.profile-followers .follower-wrapper .items .sockets-wrapper { width:100%; height:100%; display:block; position:absolute; top:0; left:0; opacity:0.8 }
.profile-followers .follower-wrapper .items a:hover .sockets-wrapper { opacity:1 }
.profile-followers .follower-wrapper .items .sockets-align { height: 88px; width: 66px; display:table-cell; vertical-align:middle }
.profile-followers .follower-wrapper .items .socket { display:inline-block; vertical-align:middle; width:28px; height:28px; background:url(../../images/profile/hero/follower-socket.png) 0 0 no-repeat; text-align:center; position:relative; left:1px; }
.ie6 .profile-followers .follower-wrapper .items .socket {  background:none }
.profile-followers .follower-wrapper .items .socket .gem { margin:4px auto 0;  width:20px; height:20px }

.profile-followers .follower-wrapper .skills { float:left; width:106px; margin-top:34px; margin-left:1px }
.profile-followers .follower-wrapper .skill { height:34px; width:106px;  }
.profile-followers .follower-wrapper .skill .icon-cell { width:21px }
.profile-followers .follower-wrapper .skill .icon-cell .d3-icon { float:left; margin-top:1px; display:block; box-shadow: 0 0 3px rgba(0,0,0,0.5); }
.profile-followers .follower-wrapper .skill .name-cell { vertical-align:middle; color: #7B6D55; }
.profile-followers .follower-wrapper .skill .name { font-size:11px; width:68px; padding-left:6px; display:block; float:left; line-height:1.4em }
.profile-followers .follower-wrapper .skill:hover { cursor:pointer }
.profile-followers .follower-wrapper .skill.empty-skill { cursor:default }
.profile-followers .follower-wrapper .skill.empty-skill:hover .icon-cell { cursor:help }
.profile-followers .follower-wrapper .skill.empty-unlocked .icon-cell { background:url(../../images/profile/hero/follower-skill-unlocked.jpg) no-repeat 0 50% }
.profile-followers .follower-wrapper .skill:hover .name { color:#FFF }

.profile-followers .follower-wrapper .adventure-stats { padding-top:37px; padding-left:6px }
.es-mx .profile-followers .follower-wrapper .adventure-stats,
.pt-br .profile-followers .follower-wrapper .adventure-stats { padding-top:32px }
.fr-fr .profile-followers .follower-wrapper .adventure-stats,
.pl-pl .profile-followers .follower-wrapper .adventure-stats,
.ru-ru .profile-followers .follower-wrapper .adventure-stats { padding-top:28px }
.profile-followers .follower-wrapper .adventure-stats li { width:80px; float:left }
.profile-followers .follower-wrapper .adventure-stats .value { color:#b6aa94; font-weight:bold; font-size:14px; width:80px; display:block }
.profile-followers .follower-wrapper .adventure-stats .label { font-size:11px; width:70px; display:block; margin-top:0px; color:#7B6D55; line-height:12px; }
.profile-followers .follower-wrapper.locked .adventure-stats .value,
.profile-followers .follower-wrapper.locked .adventure-stats .label,
.profile-followers .follower-wrapper        .adventure-stats .empty-stat .value,
.profile-followers .follower-wrapper        .adventure-stats .empty-stat .label { color:#4e4536 }



/* progression */
.page-section.progression,
.page-section.profile-followers { margin:0 42px }
.page-section.progression { margin-bottom:30px }

/* class specific */
.barbarian-male .profile-sheet { background-image: url("../img/paperdolls/barbarian-male.jpg"); }
.barbarian-female .profile-sheet { background-image: url("../img/paperdolls/barbarian-female.jpg"); }
.demon-hunter-male .profile-sheet { background-image: url("../img/paperdolls/demon-hunter-male.jpg"); }
.demon-hunter-female .profile-sheet { background-image: url("../img/paperdolls/demon-hunter-female.jpg"); }
.monk-male .profile-sheet { background-image: url("../img/paperdolls/monk-male.jpg"); }
.monk-female .profile-sheet { background-image: url("../img/paperdolls/monk-female.jpg"); }
.witch-doctor-male .profile-sheet { background-image: url("../img/paperdolls/witch-doctor-male.jpg"); }
.witch-doctor-female .profile-sheet { background-image: url("../img/paperdolls/witch-doctor-female.jpg"); }
.wizard-male .profile-sheet { background-image: url("../img/paperdolls/wizard-male.jpg"); }
.wizard-female .profile-sheet { background-image: url("../img/paperdolls/wizard-female.jpg"); }


/* progress bar */
.progression .progression-bar { margin:12px 0 0 15px }
.progression .progression-bar .bar-wrapper { width:879px; height:28px; background:url(../../images/profile/hero/hero-progression.png) no-repeat; position:relative; }
.progression .progression-bar .bar-wrapper .bar-fill { position:absolute; height:28px; top:4px; background:url(../../images/profile/hero/hero-progression.png) no-repeat; }
.progression .progression-bar .bar-wrapper .marker { display:block; position:absolute; top:3px; width:24px; height:24px; background:url(../../images/profile/hero/hero-progression.png) no-repeat -915px -3px; cursor: help; }
.progression .progression-bar .bar-wrapper .marker.normal { left:-1px }
.progression .progression-bar .bar-wrapper .marker.nightmare { left:215px }
.progression .progression-bar .bar-wrapper .marker.hell { left:431px }
.progression .progression-bar .bar-wrapper .marker.inferno { left:647px }
.progression .progression-bar .bar-wrapper .marker:hover { background-position: -891px -3px }
.progression .progression-bar .bar-wrapper .marker.complete { background-position:-907px -55px }
.progression .progression-bar .bar-wrapper .marker.complete:hover { background-position:-884px -55px }
.progression .progression-bar.hardcore-progression .bar-wrapper .marker.complete { background-position:-907px -29px }
.progression .progression-bar.hardcore-progression .bar-wrapper .marker.complete:hover { background-position:-884px -29px }
.progression .progress-arrow-hitbox { margin-left:-3px }
.progression .progress-arrow-hitbox .progress-arrow { background:url(../../images/profile/hero/hero-progression.png) no-repeat -931px -58px }
.progression .progress-arrow-hitbox:hover .progress-arrow { background-position: -947px -58px }
.progression .progression-bar.normal-progression .bar-wrapper .bar-fill { background-position:0 -58px }
.progression .progression-bar.hardcore-progression .bar-wrapper .bar-fill { background-position:0 -31px }
.progression .progression-bar.hardcore-progression .progress-arrow-hitbox .progress-arrow { background-position:-931px -32px }
.progression .progression-bar.hardcore-progression .progress-arrow-hitbox:hover .progress-arrow { background-position:-947px -32px }

.progression .difficulty-labels { padding-left:22px; position:relative; top:-3px; }
.progression .difficulty-labels .difficulty-label { width:216px }
.progression .difficulty-labels .difficulty-label .label-marker { width:186px; margin:0 0 0 1px }

/* last updated */
.profile .last-updated { margin: 30px 0; }

.ie6 .progression .progression-bar .bar-wrapper { background-image:url(../../images/profile/hero/hero-progression.gif) }
.ie6 .progression .progression-bar .bar-wrapper .bar-fill { background-image:url(../../images/profile/hero/hero-progression.gif) }
.ie6 .progression .progression-bar .bar-wrapper .marker { background-image:url(../../images/profile/hero/hero-progression.gif) }
